extends ../../templates/article.pug

block variables
  - var lang = 'ja'
  - var title = 'Markdown → LaTeXで単語帳'
  - var posted = '2015-09-16'
  - var modified = '2019-03-29'

block body
  p
    | 単語帳を作る作業は簡略化したいものの、ラテン文字以外の文字を正確に表示してくれる環境はなかなかないものです。そこでLaTeXの機能で表示を頑張りつつ、単語のリストの作成はMarkdownで簡略化するという方法で作成することにしました。依存するツールが増えるとインストールが大変なので、PandocとTeX Live、そして表示したい言語のフォント以外は準備しなくても大丈夫な方法を考えてみました。以下は中国語、ロシア語、アラビア語の単語で実際に作ってみた例です。
    figure
      figcaption 単語帳の例
      .centered-image
        img(src='/static/images/words.svg', style='background-color: white; padding: 20px; min-width: 100%;')
  p
    | 文法用語の省略記法は
    a(href='https://en.wikipedia.org/wiki/List_of_glossing_abbreviations')
      em List of glossing abbreviations
    | を使っています。
  section
    h2 1. フォントの取得
    p
      | 単語帳を作成したい言語や発音記号で使われている文字を含むフォントを持っているか確認します。Windowsの場合は
      | 
      i.fab.fa-windows(aria-hidden="true", title='Windows Key')
      span.sr-only Windows Key
      |  + 
      code fonts
      | で、Linuxの場合は
      code fc-list
      | コマンドでインストール済みのフォントの一覧が表示されます。
    p
      | 多くの文字を含み、かつ入手しやすいフォントとして以下のようなものがあります。
      ul
        li
          a(href='https://www.gnu.org/software/freefont/') GNU FreeFont
        li
          a(href='https://www.google.com/get/noto/') Google Noto Fonts
        li
          a(href='https://bboxtype.com/typefaces/FiraGO/#!layout=specimen') FiraGo
    p
      | 発音記号用のフォントとしては以下が入手しやすいです。
      ul
        li
          a(href='https://software.sil.org/doulos/download/') Doulos SIL
        li
          a(href='https://fonts.google.com/specimen/Judson') Judson
        li
          a(href='https://fonts.google.com/specimen/Voces') Voces
  section
    h2 2. テンプレートの作成
    p
      | 各言語に対応したフォントが自動で割り当てられるようにbabelなどのパッケージの設定を書いたテンプレートを準備しておきます。これを
      code vocabulary.tex
      | などの名前で保存します。
      figure
        pre
          code.language-latex
            include ../../latex/vocabulary.tex
    p
      | 次にPandocの「フィルター」と呼ばれるものを書きます。これを使ってMarkdownからLaTeXに変換する方法を指定し、少しでも入力が楽になるようにします。ここでは頻繁に入力するスモールキャピタルはアンダースコア2つ
      code __
      | で入力できるようにしました。またロシア語アルファベットが使われている部分は、自動でロシア語とマークアップされるようにしました。
      figure
        pre
          code.language-lua
            include ../../latex/filter.lua
  section
    h2 3. 単語のリスト作成
    p
      | Markdown形式で単語のリストを書いていきます。テキストエディタを使い、以下のような単語のリストを作って
      code words.md
      | のような名前で保存します。アラビア文字の入力の仕方は
      a(href='https://pecorarista.com/posts/arabluatex.html') 「LaTeXでRTL（右横書き）の文書をつくる」
      | を、発音記号の入力の仕方は
      a(href='https://pecorarista.com/posts/type-ipa.html')
        em How to type phonetic symbols
      | をご参照ください。
      figure
        pre
          code.language-markdown
            include ../../latex/words.md
    p
      | タイプセットする際にLuaLaTeXを使いたいので
      code latexmkrc
      | を作ります。
      figure
        pre
          code.language-perl
            include ../../latex/latexmkrc.pl
    p
      | 以下のコマンドを実行して最終的にPDFファイルを得ます。
      pre.command-line
        code.language-bash.
          pandoc --from=markdown --to=latex \
            --template=vocabulary.tex --lua-filter=filter.lua \
            --standalone --output=words.tex words.md
          latexmk words.tex
